.img-styles, .featured__product--card img, .products__container--content img {
  width: 300px;
  height: 300px;
  border: 3px solid #f24150;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
}

@media (min-width: 858px) {
  .img-styles, .featured__product--card img, .products__container--content img {
    width: 340px;
    height: 340px;
  }
}

.cta, .cta-added {
  width: 100px;
  background-color: #f24150;
  color: #f2f1f0;
  border: 1px solid #1a3540;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(26, 53, 64, 0.49);
          box-shadow: 0px 2px 4px 1px rgba(26, 53, 64, 0.49);
  text-align: center;
}

.cta:hover, .cta-added:hover {
  background-color: #f2f1f0;
  color: #1a3540;
}

.cta--center {
  margin: 10px auto;
}

.cta-added {
  background-color: lightgreen;
  color: black;
}

.alert-danger {
  background-color: #f24150;
  color: #f2f1f0;
}

.alert-success {
  background-color: lightgreen;
}

.alert-warning {
  background-color: orange;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", "Open Sans", sans-serif;
  background: repeating-linear-gradient(45deg, #f2f1f0 5px, #eaeaee 50px);
  background-repeat: repeat;
}

p {
  line-height: 2;
  color: #1a3540;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1 {
  font-family: "Obviously", Roboto, "Open Sans", sans-serif;
  color: #f24150;
}

a,
input,
button,
h2,
h3,
textarea {
  font-family: "Source Sans Pro", Roboto, "Open Sans", sans-serif;
  text-decoration: none;
}

h2,
h3 {
  color: #1a3540;
}

.section__name {
  text-align: center;
  font-size: 2.5rem;
  margin: 60px 0px 30px 0px;
}

#active {
  color: #1a3540;
}

#active__breadcrumb {
  color: #f24150;
}

.breadcrumb {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.breadcrumb-item a {
  color: #1a3540;
}

.center-heading {
  text-align: center;
  margin: 20px 0px 80px 0px;
}

hr {
  border: 1px solid #1a3540;
}

.product-background {
  background-color: #f2f1f0;
  padding: 10px 0px 60px 0px;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
}

.input-styles {
  white-space: nowrap;
}

.input-styles input,
.input-styles textarea,
.input-styles select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #1a3540;
  margin-top: 20px;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
}

@media (min-width: 858px) {
  .input-styles input,
  .input-styles textarea,
  .input-styles select {
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
  }
}

.input-styles input:focus,
.input-styles textarea:focus,
.input-styles select:focus {
  outline-width: 0;
  outline: none;
  border: 1px solid #1a3540;
}

.input-styles button {
  padding: 8px;
  border-radius: 10px;
  background-color: #1a3540;
  color: #f2f1f0;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
}

.input-styles button:hover {
  background-color: #f2f1f0;
  color: #1a3540;
  border: 1px solid #1a3540;
}

#newsletter {
  margin-left: 10px;
  border: 1px solid #1a3540;
}

.spinner-border {
  color: #f24150;
  margin-bottom: 60px;
}

.navbar,
footer {
  background-color: #f24150;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
  z-index: 1000;
}

.navbar-brand img {
  height: 50%;
  width: 50%;
  margin: 10px;
}

.navbar-nav {
  margin-right: 50px;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-link {
  font-size: 1.7rem;
  margin: 10px 10px;
  color: #f2f1f0;
}

.nav-link:hover {
  color: #1a3540;
}

.navbar-toggler {
  background-color: #f2f1f0;
  border: 2px solid #1a3540;
}

.navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1a3540;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

@media (min-width: 858px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.fab {
  color: #f2f1f0;
  font-size: 2.5rem;
}

.socials {
  margin-right: 50px;
}

.header-image {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 45vh;
  -webkit-box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
          box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
  position: relative;
  background-position: 40%;
}

@media (min-width: 768px) {
  .header-image {
    min-height: 70vh;
  }
}

#product-background-fix {
  padding: 0px;
}

.intro__header {
  position: absolute;
  right: 50px;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.intro__header > * {
  display: none;
}

.intro__header--brand {
  font-size: 2.5rem;
}

@media (min-width: 1200px) {
  .intro__header--brand {
    font-size: 3.5rem;
  }
}

.intro__header--product-line {
  color: #1a3540;
  font-size: 2rem;
}

.intro__header-mobile {
  display: block;
}

@media (min-width: 992px) {
  .intro__header h1,
  .intro__header .intro__header--product-line {
    display: block;
  }
}

.intro__header-mobile {
  margin: 10px;
}

.intro__header-mobile--brand {
  font-size: 2.5rem;
}

.intro__header-mobile--product-line {
  color: #1a3540;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .intro__header-mobile * {
    display: none;
  }
}

.featured {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

.featured__product {
  margin: 0px 10px;
  text-align: center;
}

@media (min-width: 791px) {
  .featured {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1200px) {
  .featured {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

.featured__product--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 30px;
}

.product-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-introduction h1 {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .product-introduction {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-introduction h1 {
    margin: 0px;
  }
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
}

@media (min-width: 1200px) {
  .products {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

.products__container {
  margin: 20px 100px;
  text-align: center;
}

.products__container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-flex p {
  font-size: 2.5rem;
  color: #1a3540;
  margin: 0px;
}

.products-specific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-specific * {
  margin: 10px;
}

@media (min-width: 768px) {
  .products-specific {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products__container--content img {
  width: 320px;
}

@media (min-width: 576px) {
  .products__container--content img {
    width: 380px;
  }
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .cart-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart-item .fa-trash {
    margin: 0px;
  }
}

.cart-item * {
  margin: 0px 20px;
  text-align: center;
}

.cart-item--img img {
  width: 200px;
  height: 200px;
}

.cart-item p {
  font-size: 2rem;
  padding: 0px 27px;
}

.fa-trash {
  font-size: 1.5rem;
  color: #1a3540;
  margin-top: 20px;
}

.trash-can {
  border: none;
}

.cart-total {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .cart-total {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .cart-total {
    max-width: 800px;
  }
}

.cart-total--cta {
  margin: 0px auto;
}

.cart-total__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
}

.hr-cart {
  max-width: 1000px;
  border: 2px solid #f24150;
  opacity: 1;
  border-radius: 2px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .login {
    max-width: 450px;
  }
}

.login input {
  margin: 10px 0px;
}

.login a {
  margin: 20px auto;
}

form {
  margin: 40px;
}

.content-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-update > * {
  margin: 10px;
}

.form-error {
  color: #f2f1f0;
  /* color: red; */
  margin-bottom: 15px;
  text-align: center;
}

.form-success {
  color: #f2f1f0;
  /* color: green; */
}

.danger-zone {
  text-align: center;
  margin-bottom: 60px;
  color: #f24150;
}

#delete {
  background-color: #f24150;
  margin-top: 30px;
}

#delete:hover {
  background-color: #f02031;
  color: #f2f1f0;
}

.error-user {
  text-align: center;
  padding: 20px 100px;
  font-size: 1.3rem;
}

#featured {
  margin: 10px 0px 30px 0px;
}
/*# sourceMappingURL=style.css.map */