// base styles

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $paragraph, "Open Sans", sans-serif;
}

p {
  line-height: 2;
  color: $secondary-color;
}

.wrapper {
  flex: 1 0 auto;
}

h1 {
  font-family: $primary-header, Roboto, "Open Sans", sans-serif;
  color: $primary-color;
}

a,
input,
button,
h2,
h3 {
  font-family: $secondary-header, Roboto, "Open Sans", sans-serif;
  text-decoration: none;
}

h2,
h3 {
  color: $secondary-color;
}

.section__name {
  text-align: center;
  font-size: 2.5rem;
  margin: 60px 0px 30px 0px;
}

.cta {
  width: 100px;
  background-color: $primary-color;
  color: $background-color;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
  @include cta-shadow;
  text-align: center;

  &:hover {
    background-color: $background-color;
    color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

#active {
  color: $secondary-color;

  &__breadcrumb {
    color: $primary-color;
  }
}

.breadcrumb {
  justify-content: center;

  &-item a {
    color: $secondary-color;
  }
}

.center-heading {
  text-align: center;
  margin: 20px 0px 80px 0px;
}

hr {
  border: 1px solid $secondary-color;
}

.product-background {
  background-color: $background-color;
  padding: 30px 0px 60px 0px;
  @include box-shadow;
}
