* {
  box-sizing: border-box;
}

//navigation styles

.navbar {
  background-color: $primary-color;
}

.navbar-brand img {
  height: 50%;
  width: 50%;
  margin: 10px;
}

.nav-link {
  font-size: 1.7rem;
  margin: 0px 10px;
  color: $background-color;
}

.nav-link:hover {
  color: $secondary-color;
}

.navbar-toggler {
  background-color: $background-color;
  border: 2px solid $secondary-color;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
}

.navbar-collapse {
  justify-content: end;
}

// main styles
