// base styles

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

h1 {
  font-family: $primary-header, Roboto, "Open Sans", sans-serif;
}

a {
  font-family: $secondary-header, Roboto, "Open Sans", sans-serif;
}

p {
  font-family: $paragraph, "Open Sans", sans-serif;
}
