.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;

    .fa-trash {
      margin: 0px;
    }
  }

  & * {
    margin: 0px 20px;
    text-align: center;
  }

  &--img img {
    width: 200px;
    height: 200px;
  }

  & p {
    font-size: 2rem;
    padding: 0px 20px;
  }
}

.fa-trash {
  font-size: 1.5rem;
  color: $secondary-color;
  margin-top: 20px;
}

.trash-can {
  border: none;
}

.cart-total {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 0px auto;

  @media (min-width: 768px) {
    max-width: 600px;
  }

  @media (min-width: 1200px) {
    max-width: 800px;
  }

  &--cta {
    margin: 0px auto;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
}

.hr-cart {
  max-width: 1000px;
  border: 2px solid $primary-color;
  opacity: 1;
  border-radius: 2px;
}
