.header-image {
  background-image: url(../../img/jakob-owens-JzJSybPFb3s-unsplash.jpg);
  /* min-height: 1000px; */
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 70vh;
  margin-top: 50px;
  box-shadow: -3px 4px 8px 3px rgba(26, 53, 64, 0.49);
}
