@media (min-width: 858px) {
  .py-3 {
    flex-direction: row;
  }

  .newsletter input {
    padding: 10px !important;
    border-radius: 10px !important;
    margin: 0px !important;
  }
}

@media (min-width: 992px) {
  .intro__header {
    & h1,
    .intro__header--product-line {
      display: block;
    }
  }

  .intro__header-mobile > * {
    display: none;
  }
}
