//colors
$primary-color: #f24150;
$secondary-color: #1a3540;
$background-color: #f2f1f0;

//fonts

$primary-header: "Obviously";
$secondary-header: "Source Sans Pro";
$paragraph: "Roboto";

// mixins

@mixin box-shadow {
  box-shadow: -2px 2px 8px 1px rgba(26, 53, 64, 0.49);
}

@mixin cta-shadow {
  box-shadow: 0px 2px 4px 1px rgba(26, 53, 64, 0.49);
}

// Reusable classes

.img-styles {
  width: 300px;
  height: 255px;
  border: 3px solid $primary-color;
  @include box-shadow;

  @media (min-width: 992px) {
    width: 365px;
    height: 300px;
  }

  @media (min-width: 1400px) {
    width: 420px;
    height: 340px;
  }
}
