//colors
$primary-color: #f24150;
$secondary-color: #1a3540;
$background-color: #f2f1f0;

//fonts

$primary-header: "Obviously";
$secondary-header: "Source Sans Pro";
$paragraph: "Roboto";

// mixins

@mixin box-shadow {
  box-shadow: -3px 4px 8px 1px rgba(26, 53, 64, 0.49);
}
